
@font-face {
    font-family:'unimed' ;
    src: url('UnimedSans2020-Bd.otf', 'UnimedSans2020-Blk.otf', 'UnimedSans2020-Rg.otf') format('opentype');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.background {
    display: flex;
    background-image: linear-gradient(to left, transparent 40%, #828282 95%), url(/Imagens/banner_linha-uni.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 550px;
}

.navegação{
    display:flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-top: 30px;
}

.logo{
    height: 60px;
    align-items: center;
}

.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex 2
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
display: flex;
padding: 10px;
}

li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.cta1{
    color: #ffffff;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: absolute;
    bottom: 15%;
    margin-left: 20%;
    line-height: 1.5;
}

.btn01{
    
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    background-color: #B1D34B;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn01:hover {
    background-color: #b7df42;
}

#detalhe-linha{
    margin-bottom: 20px;
    width: 50px;
    height: 2px;
    background-color: #B1D34B;
}

.intro{
    color: #5B5C65;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linha-uni{
    padding-bottom: 15px;
}

.unifácil-empresarial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00995D;
    padding: 50px;
}

.foto-unifácil{
    max-width: 500px;
    border-radius: 20px;
}

.txt-unifácil{
    color: #ffffff;
    max-width: 500px;
    padding-left: 70px;
}

.btn02{
    margin-top: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.rede-cobertura{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.card-rede{
    display: flex;
    justify-content:space-between;
    align-items:baseline;
}

.rede01{
    max-width: 250px;
    border: none;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0px 0px 5px #d1d1d1;
    text-align: center;
    align-items: center;
}

h4{
    padding: 15px;
    color: #00995D;
}

.solicitação-proposta{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: #F8F9FA;
}

.cta-final{
    padding: 30px;
    color: #00995D;
    font-size: 30px;
}

footer{
    background-color: #00995D;
    color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer{
    padding-bottom: 20px;
    width: 120px;
}